<div class="feedback">
    <div class="header">
        <img src="/img/feedback/header.png" />
    </div>

    <div class="titleDiv">
        <div class="centerTitle">
            Feedback
        </div>
    </div>

    <form>
        <input type="hidden" class="form-control" name="inputUserId" id="inputUserId" ng-model="vm.feedback.user_id" />
        <input type="hidden" class="form-control" name="inputUserId" id="inputUserId" ng-model="vm.feedback.match_id" />
        <div id="imageBox">
            <div class="leftBracket"></div>
            <div class="centerBracket">
                <div class="imgContainer">
                    <img class="profileImg" src="{{vm.avatar}}" />
                </div>
                <div class="userInfo">
                    {{vm.user.name}}
                    <div class="separator"></div>
                    <label>JUGADOR</label>
                </div>
            </div>
            <div class="rightBracket"></div>
        </div>
        
        <label class="subtitle">Datos del partido</label>
        <div class="row-form">
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputDate" id="inputDate" ng-model="vm.match.date" disabled="true" />
                    <label for="inputDate">Fecha</label>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputTime" id="inputTime" ng-model="vm.match.hour" disabled="true" />
                    <label for="inputTime">Hora</label>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputLocation" id="inputLocation" ng-model="vm.match.address" disabled="true" />
                    <label for="inputLocation">Lugar</label>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputAge" id="inputAge" ng-model="vm.match.years_from" disabled="true" />
                    <label for="inputAge">Edad</label>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputMatchType" id="inputMatchType" ng-model="vm.match.sexo" disabled="true" />
                    <label for="inputMatchType">Tipo de partido</label>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputMatchType" id="inputMatchType" ng-model="vm.user.game_level" disabled="true" />
                    <label for="inputGameLevel">Nivel de juego</label>
                </div>
            </div>
        </div>
        <label class="subtitle">Nivel declarado del jugador</label>
        <div class="row-form">
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputMatchType" id="inputMatchType" ng-model="vm.user.itn" disabled="true" />
                    <label for="inputITN">ITN</label>
                </div>
            </div>
        </div>
        <label class="subtitle">Ingresa a tu criterio el nivel del jugador y completa el resto de los campos</label>
        <div class="row-form">
            <div class="column-sm">
                <div class="form-group">
                    <select class="form-control minimal" name="inputHasAttended" id="inputHasAttended" ng-model="vm.feedback.has_attended" required>
                        <option></option>
                        <option value="1">SI</option> 
                        <option value="0">NO</option> 
                    </select>
                    <label for="inputHasAttended">Asistió al partido</label>
                </div>
            </div>
            <div class="column-lg">
                <div class="form-group">
                    <textarea class="form-control" rows="3" name="inputReason" id="inputReason" placeholder="¿Cuál fue el motivo?" ng-model="vm.feedback.reason" ng-if="vm.feedback.has_attended==0" ng-required="vm.feedback.has_attended==0"></textarea>
                </div>
            </div>
        </div>
        <div class="row-form" ng-if="vm.feedback.has_attended==1">
            <div class="column">
                <div class="column">
                    <div class="form-group">
                        <select class="form-control minimal" name="inputGameLevel" id="inputGameLevel" ng-model="vm.feedback.game_level" ng-options="punctuality for punctuality in ::['2.5','3.0','3.5','4.0','4.5','5.0','5.5','6.0','6.5','7.0']" required> 
                            <option></option> 
                        </select>
                        <label for="inputGameLevel">Nivel de juego</label>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <select class="form-control minimal" name="inputITN" id="inputITN" ng-model="vm.feedback.itn" ng-options="itn for itn in ::[1,2,3,4,5,6,7,8,9,10]" required>
                            <option></option>
                        </select>
                        <label for="inputITN">ITN</label>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="column">
                    <div class="form-group">
                        <select class="form-control minimal" name="inputPunctuality" id="inputPunctuality" ng-model="vm.feedback.punctuality" ng-options="punctuality for punctuality in ::[1,2,3,4,5,6,7,8,9,10]" required>
                            <option></option>
                        </select>
                        <label for="inputPunctuality">Puntualidad</label>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <select class="form-control minimal" name="inputRespect" id="inputRespect" ng-model="vm.feedback.respect" ng-options="respect for respect in ::[1,2,3,4,5,6,7,8,9,10]" required>
                            <option></option>
                        </select>
                        <label for="inputRespect">Respeto</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="column-x-lg">
                <textarea class="form-control" rows="3" name="inputComments" id="inputComments" placeholder="Dejanos tu comentario..." ng-model="vm.feedback.comment" required></textarea>
            </div>
        </div>

        <button type="submit" class="btn btn-lg" ng-click="vm.saveFeedback()" ng-disabled="vm.complete">Guardar</button>
    </form>
</div>
<sb-footer></sb-footer>