<div class="suggestedPlayers">
    <div class="solidHeader"></div>
    <div class="titleDiv">
        <div class="centerTitle">Queres invitar a alguien?</div>
    </div>

    <div id="imageBox">
        <div class="leftBracket"></div>
        <div class="centerBracket">
            <div class="text">
                Aquí encontrarás los usuarios que les puede interesar tu partido
            </div>
        </div>
        <div class="rightBracket"></div>
    </div>
    <div class="usersGrid container">
        <div class="row" ng-show="vm.users.length">
            <div class="userBox col-xs-3" ng-repeat="user in vm.users">
                <div class="leftBracket"></div>
                <div class="centerBracket">
                    <div class="level-1">
                        <div class="imgContainer">
                            <img ng-src="{{user.image?user.image:'/img/profile/profile-blank.png'}}" style="border-radius: 150px; width: 116px;">
                        </div>
                    </div>
                    <div class="level-2">
                        <div class="userName">
                            <a ui-sref="app.user_detail({user_id: user.id})">{{user.first_name}}</a>
                        </div>
                        <div class="userName">
                            <a ui-sref="app.user_detail({user_id: user.id})">{{user.last_name}}</a>
                        </div>
                        <button type="button" class="btn" ng-click="vm.invite(user)" ng-disabled="user.disabled">Invitar</button>
                    </div>
                </div>
                <div class="rightBracket"></div>
            </div>
        </div>
        <div ng-show="!vm.users.length && vm.other_players.length" class="info">
            <span>No encontramos ningún jugador con tus requisitos, debajo verás otros con requisitos similares.</span>
            <div class="row" ng-show="vm.other_players.length">
            <div class="userBox col-xs-3" ng-repeat="user in vm.other_players">
                <div class="leftBracket"></div>
                    <div class="centerBracket">
                        <div class="level-1">
                            <div class="imgContainer">
                                <img ng-src="{{user.image?user.image:'/img/profile/profile-blank.png'}}" style="border-radius: 150px; width: 116px;">
                            </div>
                        </div>
                        <div class="level-2">
                            <div class="userName">
                                <a ui-sref="app.user_detail({user_id: user.id})">{{user.name}}</a>
                            </div>
                            <button type="button" class="btn" ng-click="vm.invite(user)" ng-disabled="user.disabled">Invitar</button>
                        </div>
                    </div>
                    <div class="rightBracket"></div>
                </div>
            </div>
        </div>
        <div ng-show="!vm.users.length && !vm.other_players.length" class="info">
            <span>No encontramos ningún jugador con tus requisitos, ni con requisitos similares.</span>
        </div>
    </div>
</div>

<sb-footer></sb-footer>
