.courts{
    margin-bottom: 50px;
    .titleDiv {
        height: 186px;
        /*padding-top: 100px;*/
        background-image: url(../img/title-sides-gray.png);
        background-repeat: repeat-x;
        text-align: center;
        .centerTitle {
            width: 776px;
            height: 100%;
            margin: auto;
            display: inline-block;
            background-image: url(../img/center-title-gray.png);
            background-repeat: no-repeat;
            font-family: CookieRegular;
            font-size: 60px;
            padding-top: 50px;
            color: #00a5d7;
        }
    }
    .leftBracket {
        float:left;
        border-top: 1px solid #f2f2f2; 
        border-left: 1px solid #f2f2f2; 
        border-bottom: 1px solid #f2f2f2; 
        width: 20px;
        height: 400px;
        display: block;
    }
    .centerBracket {
        width: 65%;
        height: 420px;
        display: block;
        position: absolute;
        padding: 30px;
        padding-top: 18px;
        spam {
            font-weight: bold;
        }
        .courtTitle{
            font-family:Roboto;
            font-size:19px
        }
        .locationDiv{
            margin-left: 25px;
            .courtMap, .angular-google-map-container { 
                height: 161px; 
                width: 300px;
            }
            .courtAddress{
                font-family:Roboto;
                font-size:15px;
                font-weight:lighter;
                color:#434344;
                height: 35px;
                max-width: 300px;
            }
        }
        .courtImage{
            width: 464px;
            height: 227px;
        }
        
        .courtImage, .locationDiv, .courtDetails, .courtDescription{
            display: inline-block
        }
        .courtDescription{
            width: 560px;
            overflow-x: hidden;
        }
        .flexContainer{
            display: flex;
            margin-bottom: 25px;
        }
        .courtDetails p {
            width: 230px;
        }
        
        
    }
    .rightBracket {
        float: right;
        border-top: 1px solid #f2f2f2; 
        border-right: 1px solid #f2f2f2; 
        border-bottom: 1px solid #f2f2f2; 
        width: 20px;
        height: 400px;
        display: block;
    }
    
    .courtDetail{
        height: 420px;
        width: 850px;
        margin: auto;
        margin-bottom: 30px;
    }
}