.myCalifications{
    div{
        border:1px solid black;
    }
    .titleDiv {
        height: 186px;
        /*padding-top: 100px;*/
        background-image: url(../img/profile/title-sides.png);
        background-repeat: repeat-x;
        text-align: center;
        .centerTitle {
            width: 772px;
            height: 100%;
            margin: auto;
            display: inline-block;
            background-image: url(../img/profile/center-title.png);
            background-repeat: no-repeat;
            vertical-align: middle;
        }
    }
    .boxItem{
        background-color: #f2f2f2;
        width: 100%;
        padding: 15px;
        .imgContainer {
            padding: 20px;
            width: 10%;
            height: 128px;
            background-image: url(../img/profile/back-profile.png);
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: top;
            img {
                margin-top: 8px;
                width: 116px;
            }
        }
        .textContainer{
            display: inline-block;
            width: 89%;
            .boxTitle{
                width: 100%;
                .userName{
                    display: inline-block;
                    color: #20a3d4;
                    font-family: RobotoLight;
                }
                .dateTime{
                    float: right;
                    font-family: CookieRegular;
                    font-size: 20px;
                }
            }
            .comment{
                display: inline-block;
                width: 90%;
                height: 100px;
            }
            .btnContainer{
                display: inline-block;
                width: 5%;
                height: 40px;
                text-align: right;
            }
        }
    }
    
}