.viewProfile {
    .titleDiv {
        height: 186px;
        /*padding-top: 100px;*/
        background-image: url(../img/profile/title-sides.png);
        background-repeat: repeat-x;
        text-align: center;
        .centerTitle {
            width: 772px;
            height: 100%;
            margin: auto;
            display: inline-block;
            background-image: url(../img/profile/center-title.png);
            background-repeat: no-repeat;
        }
    }
    form {
        .input-group-addon {
            background: rgba(32, 163, 212, 0.5) !important;
            border: 1px solid #5ca3d4 !important;
        }
        #imageBox {
            height: 280px;
            .leftBracket {
                left: 17%;
                background-image: url(../img/profile/left-bracket.png);
                background-repeat: no-repeat;
                width: 27px;
                height: 280px;
                display: block;
                position: absolute;
            }
            .centerBracket {
                width: 65%;
                height: 280px;
                display: block;
                position: absolute;
                .imgContainer {
                    margin-left: 23%;
                    margin-bottom: 20px;
                    margin-top: 25px;
                    width: 215px;
                    height: 233px;
                    background-image: url(../img/profile/back-profile.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: inline-block;
                    img {
                        margin-top: 8px;
                        width: 215px;
                    }
                }
                #uploadFileBtn {
                    position: absolute;
                    display: inline-block;
                    margin-top: 130px;
                    margin-left: 130px;
                    color: #5ca3d4;
                    font-size: 28px;
                    cursor: pointer;
                }
                .profileImgContainer {
                    background-image: url(../img/profile/back-profile.png);
                    background-repeat: no-repeat;
                }
                img.profileImg {
                    margin-top: 23px;
                    margin-left: 9px;
                    border-radius: 164px;
                    width: 202px;
                    height: 202px;
                }
            }
            .rightBracket {
                right: 17%;
                background-image: url(../img/profile/right-bracket.png);
                background-repeat: no-repeat;
                width: 27px;
                height: 280px;
                display: block;
                position: absolute;
            }
        }
        #inputAvailability {
            background-image: url(../img/profile/calendar-time.png);
            background-repeat: no-repeat;
            background-size: 30px;
            padding-left: 30px;
        }
        .btn {
            float: right;
            margin-right: 10px;
        }
        
        
    }
    .rz-bubble.rz-limit.rz-floor:after,
    .rz-bubble.rz-limit.rz-ceil:after {
        display: inline;
        content: ' KM';
    }
}
#availabilityModal{
    border: 4px #d8d8dc solid;
    border-radius: 6px;
    overflow: hidden;
    .titleDiv{
        text-align: center;
        background-color: #f2f2f2;
        .side{
            display: inline-block;
            .dot{
                width: 4px;
                height: 4px;
                border-radius: 100%;
                background: #20a3d4;
                display: inline-block;
            }
            .line{
                width: 120px;
                height: 2px;
                border-top: 2px #b9b9b9 solid;
                display: inline-block;
                margin-bottom: 1px;
            }
        }
        .centerTitle{
            display: inline-block;
            font-family: CookieRegular;
            font-size: 50px;
            color: #00a5d7;
            vertical-align: middle;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .titleLine{
        background-color: #f2f2f2;
        height: 2px;
        width: 100%;
        margin-top: 1px;
    }
    
    .legend{
        width: 420px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        color: #818184;
        text-align: center;
    }
    
    .separator{
        border-top: 1px solid #c5c5c5;
        margin: auto;
        width: 500px;
    }
    
    form{
        width: 590px;
        margin: auto;
        
        .column{
            text-align: center;
            width: 270px;
        }
    }
    
    .tab-pane{
        padding-top: 10px;
    }
    
    ul.nav-tabs{
        background-color: rgb(242, 242, 242);
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    
    .uib-tab>a{
        background-repeat: no-repeat;
        background-size: 30px;
        height: 50px;
        display: block;
        background-position: center;
    }
    .mondayTab a{
        background-image: url(../img/mon-ico.png);
    }
    .tuesdayTab a{
        background-image: url(../img/tue-ico.png);
    }
    .wednesdayTab a{
        background-image: url(../img/wed-ico.png);
    }
    .thursdayTab a{
        background-image: url(../img/thu-ico.png);
    }
    .fridayTab a{
        background-image: url(../img/fri-ico.png);
    }
    .saturdayTab a{
        background-image: url(../img/sat-ico.png);
    }
    .sundayTab a{
        background-image: url(../img/sun-ico.png);
    }
    
    .allCheck{
        width: 515px;
        margin: auto;
        margin-left: 15px;
    }
    
    label{
        text-align: left;
        width: 240px;
    }
    .btn{
        float: right;
        margin-right: 40px;
    }
    .row-form label.form-control{
        color: #818184;
        padding-top: 10px;
        display: inline-block;
        text-transform: capitalize;
    }
}
#tableNTRP{
    height: 300px;
    border: 4px #d8d8dc solid;
    border-radius: 6px;
    overflow: hidden;
    ul.nav-tabs{
        background-color: rgb(242, 242, 242);
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    .titleDiv{
        text-align: center;
        background-color: #f2f2f2;
        .side{
            display: inline-block;
            .dot{
                width: 4px;
                height: 4px;
                border-radius: 100%;
                background: #20a3d4;
                display: inline-block;
            }
            .line{
                width: 120px;
                height: 2px;
                border-top: 2px #b9b9b9 solid;
                display: inline-block;
                margin-bottom: 1px;
            }
        }
        .centerTitle{
            display: inline-block;
            font-family: CookieRegular;
            font-size: 50px;
            color: #00a5d7;
            vertical-align: middle;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .titleLine{
        background-color: #f2f2f2;
        height: 2px;
        width: 100%;
        margin-top: 1px;
    }
    span{
        height: 400px;
        text-align: center;
        font-family: RobotoLight;
        font-size: 18px;
        margin: auto;
    }
}