.viewProfile {
    .titleDiv {
        height: 186px;
        /*padding-top: 100px;*/
        background-image: url(../img/profile/title-sides.png);
        background-repeat: repeat-x;
        text-align: center;
        .centerTitle {
            width: 772px;
            height: 100%;
            margin: auto;
            display: inline-block;
            background-image: url(../img/profile/center-title.png);
            background-repeat: no-repeat;
        }
    }
    form {
        #imageBox {
            height: 280px;
            .leftBracket {
                left: 17%;
                background-image: url(../img/profile/left-bracket.png);
                background-repeat: no-repeat;
                width: 27px;
                height: 280px;
                display: block;
                position: absolute;
            }
            .centerBracket {
                width: 65%;
                height: 280px;
                display: block;
                position: absolute;
                .imgContainer{
                    margin-left: 23%;
                    margin-bottom: 20px;
                    margin-top: 25px;
                    width: 217px;
                    height: 233px;
                    background-image: url(../img/profile/back-profile.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    img{
                        margin-top: 8px;
                        width: 215px;
                    }
                }
                #uploadFileBtn {
                    position: absolute;
                    margin-top: -160px;
                    margin-left: 500px;
                    color: #5ca3d4;
                    font-size: 28px;
                }
                .profileImgContainer{
                    background-image: url(../img/profile/back-profile.png);
                    background-repeat: no-repeat;
                }
            }
            .rightBracket {
                right: 17%;
                background-image: url(../img/profile/right-bracket.png);
                background-repeat: no-repeat;
                width: 27px;
                height: 280px;
                display: block;
                position: absolute;
            }
        }
        #inputAvailability {
            background-image: url(../img/profile/calendar-time.png);
            background-repeat: no-repeat;
            background-size: 30px;
            padding-left: 30px;
        }
        .btn{
            float: right;
            margin-right: 10px;
        }
    }
}