.viewProfile {
    .titleDiv {
        height: 186px;
        /*padding-top: 100px;*/
        background-image: url(../img/profile/title-sides.png);
        background-repeat: repeat-x;
        text-align: center;
        .centerTitle {
            width: 772px;
            height: 100%;
            margin: auto;
            display: inline-block;
            background-image: url(../img/profile/center-title.png);
            background-repeat: no-repeat;
        }
    }
    form {
        .input-group-addon {
            background: rgba(32, 163, 212, 0.5) !important;
            border: 1px solid #5ca3d4 !important;
        }
        #imageBox {
            height: 280px;
            .leftBracket {
                left: 17%;
                background-image: url(../img/profile/left-bracket.png);
                background-repeat: no-repeat;
                width: 27px;
                height: 280px;
                display: block;
                position: absolute;
            }
            .centerBracket {
                width: 65%;
                height: 280px;
                display: block;
                position: absolute;
                .imgContainer {
                    margin-left: 23%;
                    margin-bottom: 20px;
                    margin-top: 25px;
                    width: 215px;
                    height: 233px;
                    background-image: url(../img/profile/back-profile.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: inline-block;
                    img {
                        margin-top: 8px;
                        width: 215px;
                    }
                }
                #uploadFileBtn {
                    position: absolute;
                    display: inline-block;
                    margin-top: 130px;
                    margin-left: 130px;
                    color: #5ca3d4;
                    font-size: 28px;
                    cursor: pointer;
                }
                .profileImgContainer {
                    background-image: url(../img/profile/back-profile.png);
                    background-repeat: no-repeat;
                }
                img.profileImg {
                    margin-top: 23px;
                    margin-left: 9px;
                    border-radius: 164px;
                    width: 202px;
                    height: 202px;
                }
            }
            .rightBracket {
                right: 17%;
                background-image: url(../img/profile/right-bracket.png);
                background-repeat: no-repeat;
                width: 27px;
                height: 280px;
                display: block;
                position: absolute;
            }
        }
        #inputAvailability {
            background-image: url(../img/profile/calendar-time.png);
            background-repeat: no-repeat;
            background-size: 30px;
            padding-left: 30px;
        }
        .btn {
            float: right;
            margin-right: 10px;
        }
    }
    .rz-bubble.rz-limit.rz-floor:after,
    .rz-bubble.rz-limit.rz-ceil:after {
        display: inline;
        content: ' KM';
    }
}