<div class="courts">
    <div class="header">
        <img ng-src="/img/feedback/header.png" />
    </div>

    <div class="titleDiv">
        <div class="centerTitle">
            Canchas
        </div>
    </div>
    <div class="container">
        <div class="group" style="justify-content: center;margin-top:5%;">
            <div class="item"></div>
            <div class="item">
                <p style="font-family: Roboto;
                          font-size: 20px;">Encontra la cancha que estas buscando y <span style="color:#20a3d4">¡a jugar!</span> <input type="text" />
            </div>
            <div class="item"></div>
        </div>

        <div ng-repeat="court in vm.courts">

            <!-- LISTADO -->
            <div class="courtDetail">
                <div class="leftBracket"></div>
                <div class="centerBracket">
                    <h5 class="courtTitle">{{court.name}}</h5>
                    <div class="flexContainer">
                        <div class="courtImage">
                            <img ng-src="/img/cancha.jpg" />
                        </div>
                        <div class="locationDiv">
                            <p class="courtAddress"><img src="/img/pointer-icon.jpg" /> {{court.address}}</p>
                            <div class="courtMap">
                                <ui-gmap-google-map center='court.center' zoom='map.zoom'>
                                    <ui-gmap-marker idkey="'markerId'" coords='court.center' options="{crossOnDrag:false, draggable:false}"></ui-gmap-marker>
                                </ui-gmap-google-map>
                            </div>
                        </div>
                    </div>
                    <div class="flexContainer">
                        <div class="item courtDetails">
                            <p><img src="/img/phone-icon.jpg" /> {{court.phone}}</p>
                            <hr style="margin: 10px 0;">
                            <p><img src="/img/reloj-icon.jpg" /> Hoy abierto: 8 a 00hs</p>
                            <hr style="margin: 10px 0;">
                            <p><img src="/img/price-icon.jpg" /> $ {{court.price}}/H</p>
                        </div>
                        <div class="courtDescription">
                            <p>{{court.about}}</p>
                        </div>
                    </div>
                </div>
                <div class="rightBracket"></div>
            </div>
        </div>
    </div>
</div>
<sb-footer></sb-footer>