<div class="feedback">
    <div class="solidHeader"></div>

    <div class="titleDiv">
        <div class="centerTitle">
            Mis Logros
        </div>
    </div>
    <div class="container">
        <div class="group" style="justify-content: center;
    align-items: flex-end;">
            <div class="item">
                <p style="font-size: 37px;">1000</p>
                <hr style="border-top: 1px solid #000000;
    margin: 10px 0;">
                <p style="font-size: 20px;color:#5ca3d4">PUNTAJE SLAMBOW</p>
            </div>
            <div class="item">
                <div id="imageBox">
                    <img ng-if="vm.user != null" class="profileImg" ng-src="{{vm.avatar}}" style="    margin: 10px 35px 35px;" />
                </div>
            </div>
            <div class="item">
                <div style="display: flex;
    justify-content: flex-end;
    align-items: center;">
                    <img src="/img/copa.jpg">
                    <span style="font-family: CookieRegular;font-size: 85px;text-align: center;">[5]</span>
                </div>

            </div>
        </div>
        <div class="detail">
            <h5 style="font-family: CookieRegular;font-size: 60px;text-align: center;margin-top: 4%;margin-bottom: 4%;">Matchs</h5>
            <div class="group" style="justify-content: center;align-items: center;">
                <div class="item">
                    <p style="font-size: 20px;color:#5ca3d4">GANADOS</p>
                    <hr style="border-top: 2px solid #5ca3d4;margin: 10px 0;color:#5ca3d4;">
                    <p style="font-family: CookieRegular;font-size: 85px;text-align: center;color:#5ca3d4;line-height: 50px;">10</p>
                </div>
                <div class="item">
                    <img src="/img/vs.jpg" style="margin: 0 25px;" />
                </div>
                <div class="item">
                    <p style="font-size: 20px">PERDIDOS</p>
                    <hr style="border-top: 2px solid #000000;margin: 10px 0;">
                    <p style="font-family: CookieRegular;font-size: 85px;text-align: center;line-height: 50px;
">5</p>
                </div>
            </div>
            <hr style=" width: 500px;">
            <h5 style="font-family: CookieRegular;font-size: 60px;text-align: center;margin-top: 4%;margin-bottom: 4%;">
                Partidos
            </h5>
            <div class="group" style="justify-content: center;font-size: 16px;">
                <div class="item" style="margin-right: 30px;">
                    <p>12</p>
                    <hr style="border-top: 1px solid #5ca3d4;margin: 0;">
                    <p>JUGADOS</p>
                </div>
                <div class="item" style="margin-right: 30px;">
                    <p>10</p>
                    <hr style="border-top: 1px solid #5ca3d4;margin: 0;">
                    <p>CREADOS</p>
                </div>
                <div class="item">
                    <p>2</p>
                    <hr style="border-top: 1px solid #5ca3d4;margin: 0;">
                    <p>CANCELADOS</p>
                </div>
            </div>
        </div>
    </div>
</div>
<sb-footer></sb-footer>
