.suggestedPlayers {
    .titleDiv {
        height: 186px;
        /*padding-top: 100px;*/
        background-image: url(../img/title-sides-gray.png);
        background-repeat: repeat-x;
        text-align: center;
        .centerTitle {
            width: 772px;
            height: 100%;
            margin: auto;
            display: inline-block;
            background-image: url(../img/center-title-gray.png);
            background-repeat: no-repeat;
            font-family: CookieRegular;
            font-size: 50px;
            padding-top: 50px;
            color: #00a5d7;
        }
    }
    .dateTime {
        font-size: 27px;
        font-family: CookieRegular;
        font-weight: bold;
    }
    #imageBox {
        height: 62px;
        width: 55%;
        margin: auto;
        margin-top: 50px;
        .leftBracket {
            left: 17%;
            border-left: 2px solid #dde1e3;
            border-top: 2px solid #dde1e3;
            border-bottom: 2px solid #dde1e3;
            margin-right: 25px;
            width: 27px;
            height: 62px;
            display: block;
            position: absolute;
        }
        .centerBracket {
            display: block;
            position: absolute;
            text-align: center;
            .text {
                width: 750px;
                margin: auto;
                margin-top: 15px;
                font-size: 18px;
                color: #818184;
                span {
                    font-weight: bold;
                }
            }
        }
        .rightBracket {
            right: 17%;
            border-right: 2px solid #dde1e3;
            border-top: 2px solid #dde1e3;
            border-bottom: 2px solid #dde1e3;
            margin-left: 25px;
            width: 27px;
            height: 62px;
            display: block;
            position: absolute;
        }
        .centerBracket {
            img.profileImg {
                margin-top: 66px;
                margin-left: 236px;
            }
            #uploadFileBtn {
                position: absolute;
                margin-top: -100px;
                margin-left: 500px;
                color: #5ca3d4;
                font-size: 28px;
            }
        }
        #inputAvailability {
            background-image: url(../img/profile/calendar-time.png);
            background-repeat: no-repeat;
            background-size: 30px;
            padding-left: 30px;
        }
    }
    .usersGrid {
        margin: auto;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        .userBox {
            height: 250px;
            margin-top: 2%;
            .leftBracket {
                border-left: 2px solid #dde1e3;
                border-top: 2px solid #dde1e3;
                border-bottom: 2px solid #dde1e3;
                margin-right: 25px;
                width: 15px;
                height: 250px;
                display: inline-block;
                width: 15px;
            }
            .rightBracket {
                border-right: 2px solid #dde1e3;
                border-top: 2px solid #dde1e3;
                border-bottom: 2px solid #dde1e3;
                margin-left: 25px;
                width: 15px;
                height: 250px;
                display: inline-block;
                width: 15px;
                background-position: right;
            }
            .centerBracket {
                display: inline-block;
                vertical-align: top;
                .separator {
                    border-bottom: 1px solid #20a3d4;
                    width: 100%;
                    display: block;
                    height: 1px;
                    margin: auto;
                }
                .level-1 {
                    .imgContainer {
                        margin: auto;
                        width: 120px;
                        height: 128px;
                        margin-bottom: 20px;
                        background-image: url(../img/profile/back-profile.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        img {
                            margin-top: 8px;
                            width: 116px;
                            height: 116px;
                        }
                    }
                }
                .level-2 {
                    margin-bottom: 20px;
                    .userName {
                        font-family: RobotoLight;
                        font-size: 16px;
                        font-weight: bold;
                        max-width: 195px;
                        a, a:hover, a:visited{
                            color: #000;
                            text-decoration: none;
                        }
                    }
                }
                .level-3 {
                    margin-bottom: 20px;
                    .clubName {
                        font-weight: bold;
                        font-family: RobotoMedium;
                        text-transform: uppercase;
                        font-size: 12px;
                    }
                    .address {
                        font-family: RobotoLight;
                        font-size: 13px;
                    }
                }
                .level-4 {
                    .mapImg {
                        width: 200px;
                        height: 50px;
                        overflow: hidden;
                        cursor: pointer;
                    }
                }
                .level-5 {
                    text-align: right;
                    padding-top: 10px;
                }
            }
        }
    }
    span {
        color: #20a3d4;
    }
    .subtitleImg {
        width: 100%;
        height: 90px;
        margin-top: 30px;
        background-image: url(../img/play/play.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.modalDetail {
    text-align: center;
    padding: 20px;
    .popup-header {
        font-size: 27px;
        font-family: CookieRegular;
        line-height: 17px;
        width: 430px;
        margin: auto;
        img {
            margin-left: 5px;
            margin-right: 5px;
            height: 10px;
            vertical-align: super;
        }
    }
    .modal-content {
        background-color: #fff;
        padding: 0;
        padding-bottom: 20px;
        border-radius: 5px;
        border: #f5f5f5 solid 4px;
    }
    .modal-header {
        padding: 0;
        border-bottom: none;
        .close {
            opacity: 1;
            margin-top: -4px;
            margin-right: -4px;
            height: 35px;
        }
    }
    .modal-body {
        height: 500px;
        overflow-y: scroll;
    }
    span {
        color: #20a3d4;
    }
    .dateTime {
        font-size: 27px;
        font-family: CookieRegular;
        font-weight: bold;
    }
    .separator {
        border-bottom: 1px solid #20a3d4;
        width: 70%;
        display: block;
        height: 1px;
        margin: auto;
    }
    .imgContainer {
        margin: auto;
        width: 120px;
        height: 128px;
        margin-bottom: 20px;
        background-image: url(../img/profile/back-profile.png);
        background-size: contain;
        background-repeat: no-repeat;
        img {
            margin-top: 8px;
            width: 116px;
        }
    }
    .level-1 {
        margin-top: 10px;
        .imgContainer {
            width: 172px;
            height: 175px;
            img {
                margin-top: 13px;
                width: 162px;
            }
        }
    }
    .level-2 {
        width: 300px;
        margin: auto;
        .userName {
            font-family: RobotoLight;
            font-size: 16px;
            font-weight: bold;
        }
    }
    .level-3 {
        margin: auto;
        width: 350px;
        margin-top: 25px;
        margin-bottom: 25px;
        .clubInfo,
        .clubMap {
            margin-left: 15px;
            text-align: center;
            .separator {
                width: 100%;
            }
            .clubName {
                font-weight: bold;
                font-family: RobotoMedium;
                text-transform: uppercase;
            }
            .address {
                font-family: RobotoLight;
                font-size: 13px;
                line-height: 25px;
            }
            .angular-google-map-container {
                height: 200px;
            }
        }
        .mapImg {
            height: 55px;
            width: 160px;
            margin-top: -15px;
        }
    }
    .level-4 {
        img {
            width: 175px;
            margin: auto;
        }
    }
    .level-5 {
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .playerGrid {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .btn {
        margin-top: 25px;
    }
}

#playMaps {
    .angular-google-map-container {
        height: 400px;
    }
}