<header>
    <div class="container">
        <div class="auth">
            <a ng-click="vm.auth()" ng-if="::vm.user == null">LOGIN | REGISTRATE</a>
            <a ng-if="::vm.user != null" ng-bind="::vm.user.name"></a>
        </div>
        <nav>
            <img src="{{URL_BUCKET}}/img/logo.png" />
            <ul>
                <li><a href="/">Home</a></li>
                <li>Torneos</li>
                <li>Quiero jugar</li>
                <li ng-if="::vm.user != null"><a ui-sref="app.profile">Perfil</a></li>
                <li>Sobre Slambow</li>
                <li>Blog</li>
            </ul>
        </nav>
    </div>

</header>
<div ui-view></div>