<header>
    <div class="container">
        <div class="auth">
            <a class="noselect" ng-click="vm.auth()" ng-if="vm.user == null" style="margin-top: 12px;
    display: block;">LOGIN | REGISTRATE</a>
            <!-- Simple dropdown -->
            <img ng-if="vm.user != null" class="profileImg" ng-src="{{vm.avatar}}" style="border-radius: 164px;width:40px;height:40px;margin: 0;margin-right: 5px;" />
            <span ng-if="vm.user != null" uib-dropdown on-toggle="toggled(open)">
                <a class="noselect" ng-if="vm.user != null"  id="simple-dropdown" uib-dropdown-toggle ng-bind="vm.user.name? vm.user.name : '>'"></a>
                <ul class="dropdown-menu"  uib-dropdown-menu aria-labelledby="simple-dropdown">
                    <li>
                        <img ng-src="{{URL_BUCKET}}/img/profile-icon.png"/> <a class="noselect" ui-sref="app.profile" ng-if="!vm.user.admin">Perfil</a>
                    </li>
                    <li>
                        <img ng-src="{{URL_BUCKET}}/img/match-history-icon.png"/> <a class="noselect" ui-sref="app.matchHistory" ng-if="!vm.user.admin">Mis Partidos</a>
                    </li>
                    <li>
                        <img ng-src="{{URL_BUCKET}}/img/my-califications-icon.png"/> <a class="noselect" ui-sref="app.myCalifications" ng-if="!vm.user.admin">Mis Calificaciones</a>
                    </li>
                    <li>
                        <img ng-src="{{URL_BUCKET}}/img/logros-icon.png"/> <a class="noselect" ui-sref="app.logros" ng-if="!vm.user.admin">Mis Logros</a>
                    </li>
                    <li>
                        <img ng-src="{{URL_BUCKET}}/img/canchas-icon.png"/> <a class="noselect" ui-sref="app.canchas" ng-if="!vm.user.admin">Canchas</a>
                    </li>
                    <li class="closeSession">
                        <a class="noselect" ng-click="vm.logout()">Cerrar Sesión</a>
                    </li>
                </ul>
            </span>

        </div>
        <nav>
            <img ng-src="{{URL_BUCKET}}/img/logo.png" />
            <ul>
                <li><a href="/">Home</a></li>
                <li ng-if="vm.user != null"><a href="/">Torneos</a></li>
                <li ng-if="vm.user != null"><a ui-sref="app.createMatch">Crear Partido</a></li>
                <li ng-if="vm.user != null"><a ui-sref="app.play">Quiero jugar</a></li>
                <!--li ng-if="vm.user != null"><a ui-sref="app.profile">Perfil</a></li-->
                <li><a href="/">Sobre Slambow</a></li>
                <li><a href="/">Blog</a></li>
            </ul>
        </nav>
    </div>

</header>
<div ui-view></div>