<div class="container">
    <!--h3>BLOG</h3-->
    <h4>ULTIMAS NOTICIAS</h4>
    <div class="noticias">
        <div class="item">
            <div style="min-height: 195px;
    overflow: hidden;
    max-height: 195px;">
              <img ng-src="{{news[0].image}}" />
            </div>
            <p class="date" ng-bind="news[0].date | date : 'MMM.dd-yyyy' "></p>
            <div class="inline">
                <p class="desc" ng-bind="news[0].short_description"></p>
                <a class="more" ui-sref="app.newsDetails({id:news[0].id })">+</a>
            </div>
        </div>
        <div class="item">
            <img ng-src="{{news[1].image}}" />
            <p class="date" ng-bind="news[1].date | date : 'MMM.dd-yyyy' "></p>
            <div class="inline">
                <p class="desc" ng-bind="news[1].short_description"></p>
                <a class="more" ui-sref="app.newsDetails({id:news[1].id })">+</a>
            </div>
        </div>
    </div>
</div>
