<div class="container">
    <!--h3>BLOG</h3-->
    <h4>ULTIMAS NOTICIAS</h4>
    <div class="noticias">
        <div class="item">
            <img ng-src="{{URL_BUCKET}}/img/blog-1.png" />
            <p class="date">Sept 30.2016</p>
            <div class="inline">
                <p class="desc">Sed loreet aliquam leote llus dolor dapibus T an eu lacuestibuluEtiamursus leo vel metus.</p>
                <a class="more">+</a>
            </div>
        </div>
        <div class="item">
            <img ng-src="{{URL_BUCKET}}/img/blog-2.png" />
            <p class="date">Sept 30.2016</p>
            <div class="inline">
                <p class="desc">Sed loreet aliquam leote llus dolor dapibus T an eu lacuestibuluEtiamursus leo vel metus.</p>
                <a class="more">+</a>
            </div>
        </div>
    </div>
</div>
