<footer>
    <div class="container">
        <img src="{{URL_BUCKET}}/img/logo.png" />
        <h3>EL TENNIS EN UN SOLO LUGAR</h3>
        <ul>
            <li>Torneos
                <div class="vertical"></div>
            </li>
            <li>Quiero jugar
                <div class="vertical"></div>
            </li>
            <li>Perfil
                <div class="vertical"></div>
            </li>
            <li>Sobre Slambow
                <div class="vertical"></div>
            </li>
            <li>Blog</li>
        </ul>
    </div>
</footer>