<div class="row">
    <div class="canchas col-md-6">
        <p><b>BUSCA</b></p>
        <p>LAS CANCHAS</p>
        <span>Sed loreet aliquam leote llus dolor dapibus T
an eu lacuestibuluEtiamursus leo vel metus.</span>
        <a class="btn">+ INFO</a>
    </div>
    <div class="torneos col-md-6">
        <p><b>CONOCÉ</b></p>
        <p>LOS TORNEOS</p>
        <span>Sed loreet aliquam leote llus dolor dapibus T
an eu lacuestibuluEtiamursus leo vel metus.</span>
        <a class="btn">+ INFO</a>
    </div>
</div>