<div class="container">
    <div class="quiero-jugar col-md-3">
        <h5>QUIERO</h5>
        <h6>JUGAR</h6>
    </div>
    <div class="desc col-md-7">
        <p>
            Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet
            sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor.
        </p>
    </div>
    <div class="play col-md-2">
        <a class="btn">PLAY</a>
    </div>
</div>