<div class="container">
    <div class="quiero-jugar col-md-3">
        <h5>QUIERO</h5>
        <h6>JUGAR</h6>
    </div>
    <div class="desc col-md-7">
        <p>
            Jugar al tenis con Slambow es muy simple, sólo tenés que crear tu perfil de jugador por única vez,
            indicando tu nombre, nivel de juego, disponibilidad y filtros para elección de jugadores y te ayudaremos
             a encontrar el rival ideal y organizar tu primer partido
        </p>
    </div>
    <div class="play col-md-2">
        <a class="btn">PLAY</a>
    </div>
</div>
