<div class="container">
    <h4><span>BIENVENIDOS</span> A SLAMBOW</h4>
    <div class="commentary">
        <p>Es una red social que permitirá a muchos jugadores compartir lo mejor del tenis</p>
        <span>JUAN MARTÍN DEL POTRO</span>
    </div>
    <div class="desc">
        <p>Con Slambow tu próximo partido comienza acá.
          Podés encontrar rivales de tu nivel, organizar partidos en tu club más cercano y conocer las mejores canchas.</p>
    </div>
    <a class="btn">CONOCENOS</a>
</div>
