<div class="friends">
    <div class="header">
        <img src="/img/play/header-play.png" />
    </div>
    <div class="titleDiv">
        <div class="centerTitle">Amigos</div>
    </div>

    <div id="imageBox">
        <div class="leftBracket"></div>
        <div class="centerBracket">
            <div class="text">
                Aquí encontrarás todos los amigos con los que has jugado.
            </div>
        </div>
        <div class="rightBracket"></div>
    </div>
    <div class="usersGrid container">
        <div class="row">
            <div class="userBox col-xs-3" ng-repeat="user in vm.users">
                <div class="leftBracket"></div>
                <div class="centerBracket">
                    <div class="level-1">
                        <div class="imgContainer">
                            <img src="{{user.image}}" style="border-radius: 150px; width: 116px;">
                        </div>
                    </div>
                    <div class="level-2">
                        <div class="userName">
                            {{user.name}}
                        </div>
                        <div class="separator"></div>
                    </div>
                </div>
                <div class="rightBracket"></div>
            </div>
        </div>
    </div>
</div>

<sb-footer></sb-footer>
