<div class="match">
    <div class="header">
        <img src="/img/match/header-match.png" />
    </div>

    <div class="titleDiv">
        <div class="centerTitle"></div>
    </div>

    <form>
        <div id="imageBox">
            <div class="leftBracket"></div>
            <div class="centerBracket">
                Completá los datos y que el <spam>juego empiece.</spam>
            </div>
            <div class="rightBracket"></div>
        </div>
        <div class="row-form">
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputDate" id="inputDate">
                    <label for="inputDate">Fecha</label>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputTime" id="inputTime">
                    <label for="inputTime">Hora</label>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputPlace" id="inputPlace">
                    <label for="inputPlace">Lugar</label>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputAddress" id="inputAddress">
                    <label for="inputAddress">Otro</label>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="column">
                <label class="subtitle">Nivel de juego</label>
                <div class="column">
                    <div class="form-group">
                        <select class="form-control" name="inputGameLevelFrom" id="inputGameLevelFrom"> 
                            <option value="2.5">2.5</option> 
                        </select>
                        <label for="inputGameLevelFrom">Desde</label>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <select class="form-control" name="inputGameLevelTo" id="inputGameLevelTo"> 
                            <option value="2.5">2.5</option> 
                        </select>
                        <label for="inputGameLevelTo">Hasta</label>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <img src="/img/match/mock-map.png" />
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputGender" id="inputGender">
                    <label for="inputGender">Sexo</label>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputMatchType" id="inputMatchType">
                    <label for="inputMatchType">Tipo de partido</label>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="column">
                <label class="subtitle">Edad</label>
                <div class="column">
                    <div class="form-group">
                        <select class="form-control" name="inputAgeFrom" id="inputAgeFrom"> 
                            <option value="2.5">2.5</option> 
                        </select>
                        <label for="inputAgeFrom">Desde</label>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <select class="form-control" name="inputAgeTo" id="inputAgeTo"> 
                            <option value="2.5">2.5</option> 
                        </select>
                        <label for="inputAgeTo">Hasta</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="form-group">
                <textarea class="form-control" name="inputAboutMe" id="inputAboutMe" rows="5" placeholder="Lorem ipsumn dolo..."> </textarea>
            </div>
        </div>
        <label class="subtitle">Busca jugadores</label>
        <div class="row-form">
            <div class="form-group">
                <div class="searchBtn">
                    <img src="/img/match/search-btn.png" />
                </div>
                <input type="text" class="form-control input90" name="playerName" id="playerName">
                <label for="playerName">Nombre de jugador</label>
            </div>
        </div>
        <div class="row-form">
            <div class="form-group">
                <div class="searchBtn">
                    <img src="/img/match/search-btn.png" />
                </div>
                <input type="text" class="form-control input90" name="playerName" id="playerName">
                <label for="playerName">Nombre de jugador</label>
            </div>
        </div>
        <div class="row-form">
            <div class="form-group">
                <div class="searchBtn">
                    <img src="/img/match/search-btn.png" />
                </div>
                <input type="text" class="form-control input90" name="playerName" id="playerName">
                <label for="playerName">Nombre de jugador</label>
            </div>
        </div>
        
        
        <button type="submit" class="btn">Guardar</button>
    </form>
</div>
<sb-footer></sb-footer>
    