<div class="play">
    <div class="header">
        <img src="/img/play/header-play.png" />
    </div>
    <div class="titleDiv">
        <div class="centerTitle">Quiero Jugar</div>
    </div>

    <div id="imageBox">
        <div class="leftBracket"></div>
        <div class="centerBracket">
            <div class="text">
                Aquí podrás visualizar los partidos que fueron creados por otros usuarios, quienes cumplen <span>tus mismos requisitos</span> y están en la búsqueda de <span>jugadores como vos.</span>
            </div>
        </div>
        <div class="rightBracket"></div>
    </div>
    <div class="subtitleImg"></div>
    <div class="usersGrid container">
        <div class="row">
            <div class="userBox col-xs-3" ng-repeat="match in vm.matchs">
                <div class="leftBracket"></div>
                <div class="centerBracket">
                    <div class="level-1">
                        <div class="imgContainer">
                            <img ng-src="{{match.user.image}}" ng-if="::match.user.image!= '' && match.user.image!= null" />
                            <img ng-src="{{URL_BUCKET}}/img/profile/profile-blank.png" ng-if="::match.user.image== '' || match.user.image== null" />
                        </div>
                    </div>
                    <div class="level-2">
                        <div class="userName">
                            {{match.user.first_name}} {{match.user.last_name}}
                        </div>
                        <div class="separator"></div>
                        <div class="dateTime">
                            <span>{{match.date}} - {{match.hour}}</span>
                            <!--span>17.12.16 - 16:30</span-->
                        </div>
                    </div>
                    <div class="level-3">
                        <div class="clubName" ng-bind="match.club_name">
                        </div>
                        <div class="separator"></div>
                        <div class="address" ng-bind="match.address.substr(0, 30)">
                        </div>
                    </div>
                    <!--div class="level-4">
                        <img class="mapImg" src="/img/match/mock-map.png" ng-click="vm.openMaps(match.address_lat, match.address_lng)" />
                    </div-->
                    <div class="level-5">
                        <input type="image" name="submit" src="/img/play/eye-icon.png" border="0" alt="Submit" ng-click="vm.openModalPlay(match)" />
                    </div>
                </div>
                <div class="rightBracket"></div>
            </div>
        </div>
    </div>
</div>

<sb-footer></sb-footer>


<script type="text/ng-template" id="play-modal">
    <div class="modalDetail" id="myModal" role="dialog">
        <div class="modal-header">
            <input type="image" name="submit" ng-click="close()" ng-src="/img/play/close.png" border="0" class="close" />
        </div>
        <div id="myModal" class="modal-body">
            <div class="popup-header">
                <img src="/img/play/openQT.png" />{{match.about}}<img src="/img/play/closeQT.png" />
            </div>
            <div class="userInformation">
                <div class="level-1">
                    <div class="imgContainer">
                        <img ng-src="{{match.user.image}}" ng-if="::match.user.image!= '' && match.user.image!= null" style="border-radius: 150px;" />
                        <img ng-src="{{URL_BUCKET}}/img/profile/profile-blank.png" ng-if="::match.user.image== '' || match.user.image== null" />
                    </div>
                </div>
                <div class="level-2">
                    <div class="userName">
                        {{match.user.first_name}} {{match.user.last_name}}
                    </div>
                    <div class="separator"></div>
                    <div class="dateTime">
                        <span>{{match.date}} - {{match.hour}}</span>
                    </div>
                </div>
                <div class="level-3">
                    <div class="clubInfo">
                        <div class="clubName" ng-bind="match.club_name">
                        </div>
                        <div class="separator"></div>
                        <div class="address" ng-bind="match.address.substr(0, 30)">
                        </div>
                    </div>
                </div>
                <div class="level-3">
                    <div class="clubMap">
                        <ui-gmap-google-map center='map.center' zoom='map.zoom'>{{map}}
                            <ui-gmap-marker idkey="'markerId'" coords='map.center' options="{crossOnDrag:false, draggable:false}"></ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                </div>
                <div class="level-4">
                    <img src="/img/play/{{match.type}}-btn.png" />
                </div>
                <div class="level-5">
                    <form>
                        <div class="row-form">
                            <div class="column">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="inputGameLevel" id="inputGameLevel" ng-model="match.game_level_from" disabled="true" />
                                    <label for="inputGameLevel">Nivel de juego desde</label>
                                </div>
                            </div>
                            <div class="column">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="inputGameLevel" id="inputGameLevel" ng-model="match.game_level_to" disabled="true" />
                                    <label for="inputGameLevel">Nivel de juego hasta</label>
                                </div>
                            </div>
                        </div>
                        <div class="row-form">
                            <div class="column">
                                <div class="column">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="inputAge" id="inputAge" ng-model="match.years_from" disabled="true" />
                                        <label for="inputAge">Edad Desde</label>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="inputAge" id="inputAge" ng-model="match.years_to" disabled="true" />
                                        <label for="inputAge">Edad Hasta</label>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="inputGender" id="inputGender" ng-model="match.sexo" disabled="true" />
                                    <label for="inputGender">Sexo</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div ng-if="match.matchPlayers.length">
                    <div class="level-5">
                        Mirá los jugadores <span>ya anotados</span>
                    </div>
                    <div class="playerGrid">
                        <div class="row">
                            <div class="col-xs-4 col-center-block" ng-repeat="player in match.matchPlayers">
                                <div class="imgContainer">
                                    <img ng-if="!player.user.image" ng-src="{{URL_BUCKET}}/img/profile/profile-blank.png">
                                    <img ng-if="player.user.image" ng-src="{{player.user.image}}">
                                </div>
                                <div class="userName">
                                    <a ui-sref="app.user_detail({user_id: player.user.id})">{{player.user.first_name}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn" ng-if="vm.playBtn" ng-click="play()" ng-disabled="stopSave">QUIERO JUGAR</button>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="playmap-modal">
    <div id="playMaps">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-marker idkey="timestime" coords='map.center' options="{crossOnDrag:false, draggable:false}"></ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
</script>