<div class="matchDetail">
    <div class="header">
        <img src="/img/profile/header-profile.png" />
    </div>

    <div class="titleDiv">
        <div class="centerTitle">
            Detalle del Partido
        </div>
    </div>

    <form>
        <div class="row-form">
            <!--div class="column"-->
                <div class="column">
                    <div class="form-group">
                        <input type="text" class="form-control" name="inputDate" id="inputDate" ng-model="vm.match.date" disabled="true" />
                        <label for="inputDate">Fecha</label>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <input type="text" class="form-control" name="inputTime" id="inputTime" ng-model="vm.match.hour" disabled="true" />
                        <label for="inputTime">Hora</label>
                    </div>
                </div>
            <!--/div-->
        </div>
        <div class="row-form">
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputLocation" id="inputLocation" ng-model="vm.match.address" disabled="true" />
                    <label for="inputLocation">Lugar</label>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputClubName" id="inputClubName" ng-model="vm.match.club_name" disabled="true" />
                    <label for="inputLocation">Nombre de club</label>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="column">
                <div class="column">
                    <div class="form-group">
                        <input type="text" class="form-control" name="inputGameLevel" id="inputGameLevel" ng-model="vm.match.game_level_from" disabled="true" />
                        <label for="inputGameLevel">Nivel de juego desde</label>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <input type="text" class="form-control" name="inputGameLevel" id="inputGameLevel" ng-model="vm.match.game_level_from" disabled="true" />
                        <label for="inputGameLevel">Nivel de juego desde</label>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="column">
                    <div class="form-group">
                        <input type="text" class="form-control" name="inputITN" id="inputITN" ng-model="vm.match.itn" disabled="true" />
                        <label for="inputITN">ITN</label>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <input type="text" class="form-control" name="inputType" id="inputType" ng-model="vm.match.type" disabled="true" />
                        <label for="inputType">Tipo de partido</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="column">
                <div class="column">
                    <div class="form-group">
                        <input type="text" class="form-control" name="inputAge" id="inputAge" ng-model="vm.match.years_from" disabled="true" />
                        <label for="inputAge">Edad Desde</label>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <input type="text" class="form-control" name="inputAge" id="inputAge" ng-model="vm.match.years_to" disabled="true" />
                        <label for="inputAge">Edad Hasta</label>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputMatchType" id="inputMatchType" ng-model="vm.match.sexo" disabled="true" />
                    <label for="inputMatchType">Tipo de partido</label>
                </div>
            </div>
        </div>
        <div class="row-form players" ng-repeat="user in vm.match.users" >
            <div class="form-group userFeedback">
                <input type="text" class="form-control" name="inputPlayer" id="inputPlayer" ng-model="user.name" disabled="true" />
                <label for="inputPlayer">Jugador</label>
            </div>
            <button type="submit" class="btn feedbackBtn" ng-if="vm.match.futureMatch != true && user.id !== vm.user.id" ng-click="vm.createFeedback(vm.match.id, user.id)">DANOS TU FEEDBACK</button>
        </div>
    </form>
</div>
<sb-footer></sb-footer>
