<div class="matchDetail">
    <div class="header">
        <img src="/img/profile/header-profile.png" />
    </div>

    <div class="titleDiv">
        <div class="centerTitle"></div>
    </div>
    
    <form>
        <div class="row-form">
            <div class="column">
                <div class="column">
                    <div class="form-group">
                        <input type="text" class="form-control" name="inputDate" id="inputDate" />
                        <label for="inputDate">Fecha</label>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <input type="text" class="form-control" name="inputTime" id="inputTime" />
                        <label for="inputTime">Hora</label>
                    </div>
                </div>
            </div>
            
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputLocation" id="inputLocation" />
                    <label for="inputLocation">Lugar</label>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="column">
                <div class="column">
                    <div class="form-group">
                        <select class="form-control minimal" name="inputGameLevel" id="inputGameLevel" ng-model="vm.user.game_level"> 
                            <option value="2.5">2.5</option> 
                            <option value="3.0">3.0</option> 
                            <option value="3.5">3.5</option> 
                            <option value="4.0">4.0</option> 
                            <option value="4.5">4.5</option> 
                            <option value="5.0">5.0</option> 
                            <option value="5.5">5.5</option> 
                            <option value="6.0">6.0</option> 
                            <option value="6.5">6.5</option> 
                            <option value="7.0">7.0</option> 
                        </select>
                        <label for="inputGameLevel">Nivel de juego</label>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <select class="form-control minimal" name="inputITN" id="inputITN" ng-model="vm.user.itn">
                            <option ng-repeat="itn in ::[1,2,3,4,5,6,7,8,9,10]" value="{{itn}}">{{itn}}</option>
                        </select>
                        <label for="inputITN">ITN</label>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="column">
                    <div class="form-group">
                        <input type="text" class="form-control" name="inputAge" id="inputAge" />
                        <label for="inputAge">Edad</label>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <input type="text" class="form-control" name="inputMatchType" id="inputMatchType" />
                        <label for="inputMatchType">Tipo de partido</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="form-group userFeedback">
                <input type="text" class="form-control" name="inputPlayer" id="inputPlayer" />
                <label for="inputPlayer">Jugador</label>
            </div>
            <button type="submit" class="btn feedbackBtn">DANOS TU FEEDBACK</button>
        </div>
    </form>
</div>
<sb-footer></sb-footer>