<div class="canchas-login">
  <div class="header ng-scope"> 
    <img ng-src="/img/header-home.png"> 
    <div class="desc"> 
      <form name="canchasLogin">
        <input type="email" placeholder="email" ng-model="vm.email" />
        <input type="password" placeholder="password" ng-model="vm.password" />
        <button ng-click="vm.auth(canchasLogin)">INGRESAR</button>
      </form>
      <a ui-sref="app.admin-canchas-crear">Crear Usuario</a>
    </div> 
  </div>
</div>
<sb-footer></sb-footer>

