<div class="viewProfile">
    <div class="header">
        <img src="/img/profile/header-profile.png" />
    </div>

    <div class="titleDiv">
        <div class="centerTitle"></div>
    </div>

    <form>
        <div id="imageBox">
            <div class="leftBracket"></div>
            <div class="centerBracket">
                <div class="imgContainer">
                    <img src="/img/profile/profile-blank.png">
                </div>
                <div id="uploadFileBtn">
                    <img src="/img/profile/image-icon.png" /> Seleccionar
                </div>
            </div>
            <div class="rightBracket"></div>
        </div>
        <div class="row-form">
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputName" id="inputName" ng-model="vm.user.first_name" />
                    <label for="inputName">Nombre</label>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputSurname" id="inputSurname" ng-model="vm.user.last_name" />
                    <label for="inputSurname">Apellido</label>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="column">
                <div class="column">
                    <div class="form-group">
                        <input type="text" class="form-control" name="inputAge" id="inputAge" ng-model="vm.user.years" />
                        <label for="inputAge">Edad</label>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <select class="form-control minimal" name="inputGender" id="inputGender" ng-model="vm.user.sexo" >
                        <option value="male">Masculino</option>
                        <option value="female">Femenino</option>
                        </select>
                        <label for="inputGender">Sexo</label>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputCountry" id="inputCountry" ng-model="vm.user.country" />
                    <label for="inputCountry">País</label>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputCity" id="inputCity" ng-model="vm.user.city" />
                    <label for="inputCity">Ciudad</label>
                </div>
            </div>
            <div class="column">
                <div class="column">
                    <div class="form-group">
                        <select class="form-control minimal" name="inputGameLevel" id="inputGameLevel" ng-model="vm.user.game_level"> 
                            <option value="2.5">2.5</option> 
                        </select>
                        <label for="inputGameLevel">Nivel de juego</label>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <select class="form-control minimal" name="inputITN" id="inputITN" ng-model="vm.user.itn"> 
                            <option value="10">10</option> 
                        </select>
                        <label for="inputITN">ITN</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputCoachProfessor" id="inputCoachProfessor" ng-model="vm.user.coach">
                    <label for="inputCoachProfessor">Coach/Professor</label>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputAvailability" id="inputAvailability" ng-model="vm.user.availability">
                    <label for="inputAvailability">Disponibilidad</label>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputDistance" id="inputDistance" ng-model="vm.user.distance">
                    <label for="inputDistance">Distancia para jugar un partido</label>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <select class="form-control minimal" name="inputGender" id="inputPartnerClub" ng-model="vm.user.club_member"> 
                        <option value="male">Masculino</option> 
                    </select>
                    <label for="inputPartnerClub">Sos socio de algun club?</label>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="form-group">
                <label for="inputAboutMe">About me</label>
                <textarea class="form-control" name="inputAboutMe" id="inputAboutMe" rows="5" ng-model="vm.user.about"></textarea>
            </div>
        </div>
        <button type="submit" class="btn" ng-click="vm.save()">Guardar</button>
    </form>
</div>
<sb-footer></sb-footer>