<div class="myCalifications">
    <div class="header">
        <img src="/img/profile/header-profile.png" />
    </div>

    <div class="titleDiv">
        <div class="centerTitle"></div>
    </div>
    
    <div class="container">
        <div class="boxItem"> 
            <div class="imgContainer">
                <img style="border-radius: 150px;width: 116px;">
            </div>
            <div class="textContainer">
                <div class="boxTitle">
                    <div class="userName">
                        Carolina Biados
                    </div>
                    <div class="dateTime">
                        2017.01.13
                    </div>
                </div>
                <div class="conntent">
                    <div class="comment"></div>
                    <div class="btnContainer">
                        <input type="image" name="submit" src="/img/play/eye-icon.png" border="0" alt="Submit"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<sb-footer></sb-footer>