<div class="createMatch">
    <div class="header">
        <img src="/img/match/header-match.png" />
    </div>

    <div class="titleDiv">
        <div class="centerTitle"></div>
    </div>

    <form name="formMatch">
        <div id="imageBox">
            <div class="leftBracket"></div>
            <div class="centerBracket">
                Completá los datos y que el
                <spam>juego empiece.</spam>
            </div>
            <div class="rightBracket"></div>
        </div>
        <div class="row-form" style="margin-top: 5%;">
            <div class="column">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                        <input type="date" data-date-format="DD MMMM YYYY" class="form-control" ng-model="vm.match.date" required>
                    </div>

                    <label for="inputDate">Fecha</label>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-time"></i>
                        </span>
                        <input required="" type="time" step="1800" placeholder="HH:mm:ss" class="form-control" ng-model="vm.match.hour" required>
                    </div>
                    <label for="inputHora">Hora</label>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="column">
                <div class="form-group">
                    <select class="form-control minimal" name="inputGender" id="inputPartnerClub" ng-model="vm.match.address"> 
                        <option value="" selected="selected">Ninguno</option> 
                    </select>
                    <label for="inputPlace">Lugar</label>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="vm.match.club_name" placeholder="Nombre del Club">
                    <label for="inputAddress">Nombre del Club</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="inputAddress" g-places-autocomplete ng-change="vm.changeAddress()" ng-model="vm.address" placeholder="Direccion">
                    <label for="inputAddress">Otro</label>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="column">
                <label class="subtitle">Nivel de juego</label>
                <div class="column">
                    <div class="form-group">
                        <select class="form-control minimal" name="inputGameLevelFrom" id="inputGameLevelFrom" required> 
                           <option value="2.5">2.5</option> 
                            <option value="3.0">3.0</option> 
                            <option value="3.5">3.5</option> 
                            <option value="4.0">4.0</option> 
                            <option value="4.5">4.5</option> 
                            <option value="5.0">5.0</option> 
                            <option value="5.5">5.5</option> 
                            <option value="6.0">6.0</option> 
                            <option value="6.5">6.5</option> 
                            <option value="7.0">7.0</option>  
                        </select>
                        <label for="inputGameLevelFrom">Desde</label>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <select class="form-control minimal" name="inputGameLevelTo" id="inputGameLevelTo" required> 
                            <option value="2.5">2.5</option> 
                            <option value="3.0">3.0</option> 
                            <option value="3.5">3.5</option> 
                            <option value="4.0">4.0</option> 
                            <option value="4.5">4.5</option> 
                            <option value="5.0">5.0</option> 
                            <option value="5.5">5.5</option> 
                            <option value="6.0">6.0</option> 
                            <option value="6.5">6.5</option> 
                            <option value="7.0">7.0</option> 
                        </select>
                        <label for="inputGameLevelTo">Hasta</label>
                    </div>
                </div>
            </div>
            <div class="column">
                <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'></ui-gmap-google-map>
            </div>
        </div>
        <div class="row-form">
            <div class="column">
                <div class="form-group">
                    <select class="form-control minimal" name="inputGender" id="inputGender" ng-model="vm.match.sexo" required>
                        <option value="mixto">Mixto</option>
                        <option value="male">Masculino</option>
                        <option value="female">Femenino</option>
                    </select>
                    <label for="inputGender">Sexo</label>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <select class="form-control minimal" name="inputGender" id="inputGender" ng-model="vm.match.type" required>
                        <option value="single" >Single</option>
                        <option value="double">Double</option>
                    </select>
                    <label for="inputMatchType">Tipo de partido</label>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="column">
                <label class="subtitle">Edad</label>
                <div class="column">
                    <div class="form-group">
                        <input type="text" onkeypress="return validaNumber(event)" class="form-control minimal" ng-model="vm.match.years_from" required/>
                        <label for="inputAgeFrom">Desde</label>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <input type="text" onkeypress="return validaNumber(event)" class="form-control minimal" ng-model="vm.match.years_to" required/>
                        <label for="inputAgeTo">Hasta</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="form-group">
                <textarea class="form-control" name="inputAboutMe" id="inputAboutMe" rows="5" placeholder="Lorem ipsumn dolo..." ng-model="vm.match.about" required></textarea>
            </div>
        </div>
        <!--label class="subtitle">Busca jugadores</label>
        <div class="row-form">
            <div class="form-group">
                <div class="searchBtn"></div>
                <input type="text" class="form-control input90" name="playerName" id="playerName">
                <label for="playerName">Nombre jugador</label>
            </div>
        </div>
        <div class="row-form" ng-if="vm.match.type == 'double'">
            <div class="form-group">
                <div class="searchBtn"></div>
                <input type="text" class="form-control input90" name="playerName" id="playerName">
                <label for="playerName">Nombre jugador</label>
            </div>
        </div>
        <div class="row-form" ng-if="vm.match.type == 'double'">
            <div class="form-group">
                <div class="searchBtn"></div>
                <input type="text" class="form-control input90" name="playerName" id="playerName">
                <label for="playerName">Nombre jugador</label>
            </div>
        </div-->


        <button type="submit" class="btn" ng-click="vm.save(formMatch)">Guardar</button>
    </form>
</div>
<sb-footer></sb-footer>