<div class="createMatch">
    <div class="solidHeader"></div>
    <div class="titleDiv">
        <div class="centerTitle"></div>
    </div>

    <form name="formMatch" ng-submit="vm.save(formMatch)">
        <div id="imageBox">
            <div class="leftBracket"></div>
            <div class="centerBracket">
                Completá los datos y que el
                <span>juego empiece.</span>
                <br/>Te recomendamos reservar la cancha previamente, un partido creado y luego cancelado, restará puntos en Slambow.
            </div>
            <div class="rightBracket"></div>
        </div>

        <div class="row-form" style="margin-top: 5%;">
            <div class="column">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" style="background: rgba(32, 163, 212, 0.5) !important;
            border: 1px solid #5ca3d4 !important;">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                        <input type="date" min="{{vm.date | date:'yyyy-MM-dd'}}" class="form-control" ng-model="vm.match.date" required>
                    </div>

                    <label for="inputDate">Fecha</label>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <div class="input-group timeContainer">
                        <div uib-timepicker 
                             show-spinners="false" 
                             ng-model="vm.match.hour" 
                             minute-step="30" 
                             show-meridian="false">
                        </div>
                    </div>
                    <label for="inputHora">Hora</label>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="column location">
                <div class="form-group">
                    <select class="form-control minimal" ng-change="vm.changePartnerClub()" name="inputGender" id="inputPartnerClub" ng-model="vm.partner_club" required tooltip-placement="left-bottom" uib-tooltip="Seleccioná la cancha donde se disputará el partido. Si la misma no se encuentra en el listado seleccioná OTRA e ingresá la dirección manualmente.">
                        <option value="" disabled selected hidden>Seleccioná</option>
                        <option value="Custom">Otra</option>
                        <option ng-repeat="cancha in vm.canchas" value="{{cancha.id}}" ng-if="cancha.state == 'confirmed'" ng-bind="cancha.name"></option>
                    </select>
                    <label for="inputPlace">Canchas Registradas</label>
                </div>
            </div>
            <div class="column" ng-if="vm.match.address_lat && vm.match.address_lng">
                <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom' options="{draggable:false}">
                    <ui-gmap-marker idkey="1" coords='vm.market' options="{crossOnDrag:false, draggable:true}"></ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div>
        <div class="row-form" ng-if="vm.partner_club == 'Custom'">
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="vm.match.club_name" required>
                    <label for="inputAddress">Nombre del Club</label>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <input type="text" class="form-control" name="inputAddress" g-places-autocomplete ng-change="vm.changeAddress()" ng-model="vm.address" placeholder=""  required>
                    <label for="inputAddress">Dirección</label>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="column">
                <label class="subtitle" >Nivel de juego de tus rivales</label>
                <div class="column">
                    <div class="form-group">
                        <select class="form-control minimal" name="inputGameLevelFrom" id="inputGameLevelFrom" ng-model="vm.match.game_level_from" required tooltip-placement="left-bottom" uib-tooltip="Seleccioná el nivel de juego que deberán tener tus rivales para poder jugar.">
                            <option value="" disabled selected hidden>Seleccioná</option>
                            <option value="2.5">2.5</option>
                            <option value="3.0">3.0</option>
                            <option value="3.5">3.5</option>
                            <option value="4.0">4.0</option>
                            <option value="4.5">4.5</option>
                            <option value="5.0">5.0</option>
                            <option value="5.5">5.5</option>
                            <option value="6.0">6.0</option>
                            <option value="6.5">6.5</option>
                            <option value="7.0">7.0</option>
                        </select>
                        <label for="inputGameLevelFrom">Desde</label>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <select class="form-control minimal" name="inputGameLevelTo" id="inputGameLevelTo" ng-model="vm.match.game_level_to" required tooltip-placement="left-bottom" uib-tooltip="Seleccioná el nivel de juego que deberán tener tus rivales para poder jugar.">
                            <option value="" disabled selected hidden>Seleccioná</option>
                            <option value="2.5">2.5</option>
                            <option value="3.0">3.0</option>
                            <option value="3.5">3.5</option>
                            <option value="4.0">4.0</option>
                            <option value="4.5">4.5</option>
                            <option value="5.0">5.0</option>
                            <option value="5.5">5.5</option>
                            <option value="6.0">6.0</option>
                            <option value="6.5">6.5</option>
                            <option value="7.0">7.0</option>
                        </select>
                        <label for="inputGameLevelTo">Hasta</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="column">
                <div class="form-group">
                    <select class="form-control minimal" name="inputGender" id="inputGender" ng-model="vm.match.sexo" required>
                        <option value="mixto">Mixto</option>
                        <option value="male">Masculino</option>
                        <option value="female">Femenino</option>
                    </select>
                    <label for="inputGender">Sexo</label>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <select class="form-control minimal" name="inputGender" id="inputGender" ng-model="vm.match.type" required tooltip-placement="left-bottom" uib-tooltip="Querés jugar singles o dobles?">
                        <option value="" disabled selected hidden>Seleccioná</option>
                        <option value="singles" >Singles</option>
                        <option value="dobles">Dobles</option>
                    </select>
                    <label for="inputMatchType">Tipo de partido</label>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="column">
                <label class="subtitle">Edad de tus rivales</label>
                <div class="column">
                    <div class="form-group">
                        <input type="text" onkeypress="return validaNumber(event)" maxlength="2" minlength="2" class="form-control minimal" ng-model="vm.match.years_from" id="yearsFrom" required/>
                        <label for="inputAgeFrom">Desde</label>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <input type="text" onkeypress="return validaNumber(event)" maxlength="2" minlength="2" class="form-control minimal" ng-model="vm.match.years_to" id="yearsTo" required/>
                        <label for="inputAgeTo">Hasta</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="form-group">
                <label for="inputAgeTo">COMENTARIOS</label>
                <textarea class="form-control" name="inputAboutMe" id="inputAboutMe" rows="5" ng-model="vm.match.about" required maxlength="250" placeholder="Ingresá un comentario sobre el partido para atraer a tus rivales."></textarea>
            </div>
        </div>
        <button type="submit" class="btn" ng-disabled="vm.stopSave">Crear Partido</button>
    </form>
</div>


<sb-footer></sb-footer>
